/*
Layout
 */

.inline {
  display: inline;
}

/*
Footer fix
 */

html, body {
  height: 100%;
}

.body {
  min-height: 100%;
}

@media (max-width: 767px) {
  .fixed-bottom-md-down {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }

  footer a.list-group-item {
    display: inline;
    background: none;
    border: none;
    color: #fff;

  }

  footer a.list-group-item:hover {
    color: #000;
    background: none;
  }
}

/*
Sidebar fix
 */

.sidebar {
  font-size: 0.9rem;
}


/*
Custom Badges
 */

.badge-active {
  color: #fff;
  background-color: #28a745;
}

.badge-verified {
  color: #005cbf;
  background-color: #28a745;
}

.badge-pending {
  color: #ffc107;
  background-color: #28a745;
}

.badge-banned {
  color: #b21f2d;
  background-color: #28a745;
}